h3{
    color: aqua;
    padding-left: 20px;
    padding-top: 10px;
}
#navbar{
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 700px;
}
h3:hover{
    color: blue;
}
